---
    
---
<div class="absolute size-9 top-5 right-6 bg p-[2px] rounded-md ">
    <button id="toggleTheme" onclick=buttonToggleTheme() class="size-9 relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg  bg-gradient-to-br dark:from-violet-800 dark:to-cyan-400 dark:hover:from-violet-800 dark:hover:to-cyan-400 ease-in  from-orange-400/90  to-yellow-500   hover:from-orange-400/90  hover:to-yellow-500 hover:text-white dark:text-white focus:ring-2 focus:outline-none focus:ring-red-400 dark:focus:ring-cyan-800">
        <span class=" size-8 grid  m-auto p-1  transition-all ease-in duration-75 dark:bg-gray-900 bg-slate-50/[95] text-slate-900 dark:text-white  hover:bg-transparent hover:text-slate-100   rounded-md dark:hover:bg-transparent ">
            <svg id="sun" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun block dark:hidden" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7" /></svg>
            <svg id="moon" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-moon dark:block hidden size-full " width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" /></svg>
        </span>
    </button>
</div>

